################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatSignalR/.vs/ChatSignalR
/ChatSignalR/ChatSignalR/bin/Debug/netcoreapp3.1
/ChatSignalR/ChatSignalR/obj
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1
/WebApplication1/WebApplication1/obj
/WebWithTest/.vs/WebWithTest
/WebWithTest/UnitTestProject1/obj
/WebWithTest/WebWithTest/bin/Debug
/WebWithTest/WebWithTest.Test/bin/Debug/netcoreapp3.1
/WebWithTest/WebWithTest.Test/obj
/WebWithTest/XUnitTestProject1/obj
